<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LibraryManagementSystem</display-name>
  <servlet>
    <description></description>
    <display-name>CreateBookServlet</display-name>
    <servlet-name>CreateBookServlet</servlet-name>
    <servlet-class>com.library.controller.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBookServlet</servlet-name>
    <url-pattern>/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetByIdServlet</display-name>
    <servlet-name>GetByIdServlet</servlet-name>
    <servlet-class>com.library.controller.GetBookById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetByIdServlet</servlet-name>
    <url-pattern>/getbyid</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetAllBooks</display-name>
    <servlet-name>GetAllBooks</servlet-name>
    <servlet-class>com.library.controller.GetAllBooksServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetAllBooks</servlet-name>
    <url-pattern>/getallbooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateBookServlet</display-name>
    <servlet-name>UpdateBookServlet</servlet-name>
    <servlet-class>com.library.controller.UpdateBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateBookServlet</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBookServlet</display-name>
    <servlet-name>DeleteBookServlet</servlet-name>
    <servlet-class>com.library.controller.DeleteBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBookServlet</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IssueBook</display-name>
    <servlet-name>IssueBook</servlet-name>
    <servlet-class>com.library.controller.IssueBook</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IssueBook</servlet-name>
    <url-pattern>/issueBook</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.library.controller.ReaderRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/registerReader</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.library.controller.ReaderLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/readerLogin</url-pattern>
  </servlet-mapping>
</web-app>